#root {
  text-align: center;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', serif;
}

main {
  margin-top: 30px;
}

#navbar {
  font-family: 'Slabo 27px', serif;
}

table {
  margin: 5px;
  padding: 2px;
  border-collapse: collapse;
  width: 80vw;
}

tr {
  height: 40px;
  font-size: 16px;
}

.input {
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: #c8e6ec;
}

.container {
  width: 30vw;
  border: 1px solid black;
  margin: 5px;
  border-radius: 5px;
}

.to-do-container {
  text-align: left
}

.color-swatch {
  height: 10px;
  width: 10px;
  border: 1px solid black;
  overflow: hidden;
  float: left;
  margin: 2px;
}

.color-legend {
  text-align: left;
  float: right;
  margin: 2px;
}

.table-button {
  margin: 5px;
  height: 15px;
}

#purple-cat {
  background-color: #bb9adf;
}

#pink-cat {
  background-color: #fcb7b7;
}

#green-cat {
  background-color: #a6ffc7;
}

#peach-cat {
  background-color: #f5c4a4;
}

#blue-cat {
  background-color: #6e9dff;
}

.single-todo {
  margin: 5px;
  background-color: rgb(209, 209, 205);
  border-radius: 5px;
  width: 50vw;
  margin: 5px;
}

.Purchase {
  background-color: #bb9adf;
  padding: 3px;
  border-radius: 5px;
}

.Errands {
  background-color: #ffb8b8;
  padding: 3px;
  border-radius: 5px;
}

.Social {
  background-color: #a6ffc7;
  padding: 3px;
  border-radius: 5px;
}

.Work {
  background-color: #f5c4a4;
  padding: 3px;
  border-radius: 5px;
}

.Other {
  background-color: #6e9dff;
  padding: 3px;
  border-radius: 5px;
}



